.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

#contact-heading {
  margin-top: 90px;
}

.mainHeading {
  color: rgb(94, 18, 18);
}

.myContacts {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  justify-content: center;
}

.userImage {
  width: 400px;
  height: 400px;
}

.userDetails {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
}

.emptyDescription {
  margin-top: 40px;
}

.contactLayout {
  display: flex;
  justify-content: space-between;
}

.savedContacts {
  display: inline-flex;
  margin: 10px 0px;
}

.userName {
  color: black;
  font-weight: bold;
}

.editDeleteIcon {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.iconSpace {
  padding: 0px 20px;
}
